.login-content{
    width: 100%;
    height: 100vh;
    padding: 15%;
    margin: auto;
}

.btn-login {
    background-color: #fff;
    color:#614EA6;    
}

.btn-login:hover{
    background-color: #f21667;
    color:#fff;    
}

.opcoes-login a {
    text-decoration: none;
    color: #fff;  
    transition: .3s ease-in-out;  
}

.opcoes-login a:hover {
    color: #f21667;
}